p {
    text-indent: 1em;
    padding: 0 30px;
    line-height: 1.3;
}

:is(section, h1, h2, h3) p::first-letter {
    text-transform: capitalize;
}

:is(h1, h2, h3, section) p:first-of-type::first-letter {
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.about-image.-bc2  {
    text-align: center;
    padding: 1em;
    margin: 30px;
    background-color: var(--color-main-3);
    border: 1px solid var(--color-main-2);
}

.about-image.-centro_de_distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.about-image img {
    width: 100%;
}

.about-image.-familia_pelho {
    float: right;
    margin: 0 0 10px 10px;
}

.about-image .caption {
    font-style: italic;
    margin-top: 10px;
}

.section_diferentials .diferentials_list {
    padding-left: 3ch;
}

.section_diferentials .list-styled {
    list-style: disc;
    line-height: 1.5;
}

/* Mobile */
@media (max-width: 600px) {
    .about-image.-centro_de_distribuicao {
        box-sizing: border-box;
        width: 95%;
    }
    p {
        padding: 0 0.1em;
        text-align: justify;
    }
}