:root {
    --color-main-0: #000;
    --color-main-1: #333;
    --color-main-1-2: #777;
    --color-main-2: #ccc;
    --color-main-3: #eee;
    --color-link-1: #036;
    --color-main-f: #fff;
    --color-bg-pink1: #ffb6c1;
    --color-bg-blue1: #add8e6;
}