@media (max-width: 720px) {
    :root {
        --container-width: 100%;
    }
}

@media (min-width: 720px) {
    :root {
        --container-width: 90%;
    }
}

@media (min-width: 940px){
    :root {
        --container-width: 70%; 
    }
}



