.categoriesAndBanner {
    display:flex;
}

.categoriesAndBanner > .featured-banner {
    flex-grow: 1;
    flex-basis: 60%;
    flex-grow:1;
}

.categoriesAndBanner > .featured-banner > .banner_image {
    object-fit: contain;
    width: 100%;
}


/* Mobile */
@media (max-width: 600px) {
    .categoriesAndBanner {
        flex-direction: column;
    }
    .categoriesAndBanner > .featured-banner {
        flex-basis: auto;
    }
}
