.featuredProducts {
    display: flex;
    margin-top: 2em;
    column-gap: 0.5em;
}

.featuredProducts > .productsPannel{
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 4px var(--color-main-1-2);
}

.featuredProducts > .productsPannel > .productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featuredProducts > .productsPannel.-news {
    background-color: var(--color-pink-1);
}
.featuredProducts > .productsPannel.-best_sellers {
    background-color: var(--color-blue-1);
}

.featuredProducts > .productsPannel > .pannel_title {
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-shadow: 3px 3px 2px var(--color-main-f-transparent);
}
.featuredProducts > .productsPannel > .pannel_title::before {
    content: '\2756';
    opacity: 0.5;
    margin-right: 0.5em;
}

.featuredProducts > .productsPannel > .productsList > .product-item {
    flex-basis: 30%;
}

/* Mobile */

@media (max-width: 600px){
    .featuredProducts {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        row-gap: 1em;
    }
}