.fieldset-size > .size_output {
    border: 0.3em solid var(--color-main-1-2);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: text-bottom;
}