.main-header {
    display: flex;
    flex-direction: column;
    height: 80px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto 20px auto;
}

.main-header.-product {
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--color-main-2);
}

.main-header > h1 {
    height: 100%;
}
.main-header > h1 > .logo-default {
    height: 100%;
    object-fit: scale-down;
    object-position: center left;
}

.main-header .shopping-bag {
    width: 140px;
    padding-right: 35px;
    padding-top: 5px;
    text-align: right;
    font-size: smaller;
    background: url(../../img/sacola.png) no-repeat top right;
}

.main-header > .navigation-bar {
    width: 60%;
}

.main-header > .navigation-bar {
    text-align: right;
}

.navigation-bar .nav_item {
    display: inline;
    list-style-type: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.navigation-bar .nav_item .link-default {
    color: var(--color-link-1);
    text-decoration: none;
}
.navigation-bar .nav_item .link-default:hover {
    color: var(--color-link-2);
}

/* Mobile */
@media (max-width: 600px){
    .main-header {
        flex-direction: row;
        row-gap: 1em;
        height: max-content;
    }

    .main-header > h1 {
        flex-basis: 70%;
    }

    .main-header .logo-default.-lg {
        width: 100%;
    }

    .main-header > .shopping-bag {
        align-self: center;
        flex-basis: 20%;
        padding-top: 35px;
        padding-right: 0;
        text-align: center;
        background-position: top center;
    }

    .main-header > .navigation-bar {
       line-height: 2em;
       width: 100%;
       text-align: center;
    }
}
