.products-categories {
    --left-item-space: 10px;
}

.products-categories {
    background-color: var(--color-main-2);
    text-transform: uppercase;
    text-indent: var(--left-item-space);
    font-weight: bold;
    margin-top: 1em;
    border-radius: 5px 5px 0 0;
}

.products-categories > .categories_title {
    line-height: 2.6em;
}

.products-categories .list_categories {
    border-bottom: 4px solid var(--color-main-f);
}

.products-categories > .list_categories .category_item {
    background-color: var(--color-main-f);
    line-height: 2.1em;
    margin-bottom: 2px;
}

.products-categories > .list_categories > .category_item .category_link {
    text-decoration: none;
    color: var(--color-main-0);
}

.category_item > .list_categories > .category_item {
    background-color: var(--color-main-2);
    margin-left: var(--left-item-space);
}
.category_item > .list_categories > .category_item > .category_link::before {
    content: '➡ ';
    opacity: 0.5;
}

.products-categories .list_categories > .category_item:first-child {
    border-radius: 10px 10px 0 0;
}

.category_item > .list_categories {
    display: none;
}

.category_item:hover > .list_categories {
    display: block;
}