.product-item {
    padding: 3px 3px 1em;
    transition-property: box-shadow, transform, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    border-radius: 4px;
}
.product-item:hover {
    box-shadow: 0px 0px 3px var(--color-main-1), 0px 0px 3px var(--color-main-1) inset;
    background-color: var(--color-main-f-transparent);
    transition: transform 300ms linear;
}

.product-item:nth-child(even):hover {
    transform: scale(1.1) rotate(-5deg);
}
.product-item:nth-child(odd):hover {
    transform: scale(1.1) rotate(5deg);
}

.product-item .product_image {
    width: 100%;
}

.product-item .product_link {
    color: var(--color-main-1);
    text-decoration: none;
    text-align: center;
}