body {
    font-family: var(--font-base);
    color: var(--color-main-1);
    min-height: 100vh;
    min-width: 320px;
    position: relative;
    background-color: var(--color-main-f);
}

body > .container, .footer-default > .container {
    width: var(--container-width);
    margin: 0 auto;
}